html {
  background-image: url("resources/images/HomePage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
}

#container {
  /*display: inline-block;*/
  width: 100%;
  margin-left: 0px;
  height: 100%;
}

#homePageContainer {
  height: 100%;
}

#homeBannerContainer {
  max-height: 150px;
  overflow-y: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  color: white;
}

#logo {
  width: 300px;
  float:left;
}

#logoImg {
  margin-top: 10px;
  float: left;
  height: 60px;
}

#emailImg {
  float: right;
  height: 30px;
  padding-right: 20px;
  margin-right: 10px;
}

#emailImg:hover {
    cursor: pointer;
}

#printImg {
  float: right;
  height: 30px;
  padding-right: 20px;
  margin-right: 40px;
}

#printImg:hover {
    cursor: pointer;
}

#itineraryTop {

}

#title {
  font-size: 40px;
}

#tagline {
  margin-left: 20px;
  margin-top: 0px;
}

#homeSearchContainer {
  height:220px;
  width: 700px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  margin-top: 100px;
}

#searchPrompt {
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  text-align: center;
  padding-top: 30px;
  padding-top: 50px;
}

#homeSearchBarContainer {

}


#homeSearchBar {
  width: 400px;
  margin: 10px auto;
  padding: 10px;
  text-align: left;
  margin-left: 100px;
}

#homeSearchButton {
  margin: 10px auto;
  padding: 10px;
}

#searchContainer {
  width: 491px;
  float: right;
  margin: 40px;
}

#searchBar {
  width: 400px;
  padding: 10px;
  text-align: left;
  margin-right: 0px;
}

#searchButton {
  float: right;
  padding: 10px;
}

#resultsBannerContainer {
  display: inline-block;
  width: 100%;
  max-height: 100px;
  overflow-y: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  color: white;
}

#resultsMain {
  height: auto;
  min-height: 800px;
  width: 100%;
  background-color: rgba(255, 255, 255);
  margin-top: 0px;
  position:absolute;
  left:0;
  right:0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  display: flex;
  column-count: 2;
}

#filter {
  width: 15%;
  column: 1;
  column-span: 1;
  column-count: 1;
  margin-left: 20px;
}

#results {
  column: 2;
  column-count: 1;
  column-span: 1;
  width: 100%;
  float: left;
}

#resultCard {
  list-style-type: none;
  width: 95%;
  margin: 0 auto;
  padding: 0;
  float: left;
}

#listItem {
  background-color: #e8f2f4;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-top: 1px;
  margin-bottom: 10px;
  position: relative;
}

#listItem:hover {
  background-color: #d6ecf0;
  cursor: pointer;
}

#filterChild:hover {
  cursor: pointer;
}

#filterChild {
  padding-top: 10px;
}

#sortChild:hover {
  cursor: pointer;
}

#logo:hover {
  cursor: pointer;
}

#resultTitle {
  font-size: 24pt;
  margin-top: 15px;
  margin-bottom: -15px;
  width: 70%;
}

#resultCity {
  font-size: 16pt;
}

#eventlist {
  margin-top: 20px;
  display: inline;
  list-style: none;
  margin-left: -40px;
}

#eventlist li {
  display: inline;
}

#eventlist li:after {
  content: ", ";
}

#eventlist li:last-child:after {
  content: "";
}

ul {
  list-style-type: none
}

#itineraryMain {
  height: auto;
  min-height: 800px;
  width: 100%;
  background-color: rgba(255, 255, 255);
  margin-top: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  position:absolute;
  left:0;
  right:0;
}

#resultsDate {
  float: right;
  width: 30%;
  text-align: right;
}
#topCard {
  display: flex;
}

StarRating {
  size: 20px;
}

#ratings {
  display: flex;
}

#numReviews {
  margin-top: 0px;
  padding-left: 5px;
}

#itineraryItem {
  padding: 20px;
  margin-left: 80px;
  margin-top: 40px;
}

Popup:hover {
    cursor: pointer;
}

#activityTitle {
  color: #4eaabc;
  font-size: 20px;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

#activityTitle:hover{
  cursor: pointer;
}

#activityItem {
  margin: 0px;
  padding: 0px;
}

#activity {
  padding-right: 200px;
}

#printPopup {
  text-align: center;
  padding-top: 160px;
  font-size: 20px;
}

#skylight {
  background-color: #d6ecf0;
}

#emailTextBar {
  width: 400px;
  margin: 10px auto;
  padding: 10px;
  text-align: left;
}

#emailContainer {
  margin: auto;
  width: 50%;
}

#emailPrompt {
  text-align: center;
  margin-top: 120px;
}

#emailButtonContainer {
  margin: auto;
  width: 50%;
}

#emailButton {
  width: 50%;
  margin: 10px auto;
  margin-left: 50px;
  padding: 10px;
}

#emailSentText {
  text-align: center;
  margin-top:190px;
  font-size: 20px;
}